extends layout.pug

block content
  form(action=`/${language}/files` class="ds-form" enctype="multipart/form-data" id="form" method="post" name=__('Upload file') style="padding: 0;")
    div(class="row")
      div(class="col-lg-3")
        input(hidden id="input" name="files" required type="file")
        button(class="ds-link" id="button" type="button")
          div(class="_ds-link body")
            div(class="_ds-link title")= __('Upload file')
          div(class="_ds-link action-icon")
            i(class="bi bi-upload")
  script.
    (() => {
      const form = document.getElementById("form");
      const input = document.getElementById("input");
      const button = document.getElementById("button");
      button?.addEventListener("click", () => input?.click());
      input?.addEventListener("change", () => {
        if (input.files && input.files.length > 0) {
          form?.submit();
        }
      });
    })();
  div(class="row")
    each file in files
      div(class="col-12")
        a(alt=file.name class="ds-link" href=`https://api.preview.digitalleman.com/v5/files/${file.documentId}` target="_blank")
          div(class="_ds-link caption-icon")
            if /(jpeg|png|webp)$/.test(file.extension)
              i(class="bi bi-file-earmark-image")
            else if /(pdf)$/.test(file.extension)
              i(class="bi bi-file-earmark-pdf")
            else
              i(class="bi bi-file-earmark")
          div(class="_ds-link body")
            div(class="_ds-link title")= file.name
            div(class="_ds-link text")
              if file.public
                .
                  #[i(class="bi bi-globe")] #{__('Public')}
              else
                .
                  #[i(class="bi bi-lock-fill")] #{__('Private')}
          div(class="_ds-link action-icon")
            i(class="bi bi-arrow-up-right")
