extends layout.pug

block content
  form(action=redirect ? `/${language}?r=${redirect}` : `/${language}` class="ds-form" method="post" name="Sign In")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        div(class="_ds-form text")
          label(for="email")= __('Email')
          input(autocapitalize="none" autocomplete="username" id="email" name="email" placeholder="contact@quentinburgniard.com" required type="email")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        div(class="_ds-form text")
          label(for="password")= __('Password')
          input(autocapitalize="none" autocomplete="current-password" id="password" name="password" required type="password")
    div(class="row")
      div(class="col-lg-4 offset-lg-4")
        button(class="ds-link" type="submit")
          div(class="_ds-link body")
            div(class="_ds-link title")= __('Sign In')
          div(class="_ds-link action-icon")
            i(class="bi bi-box-arrow-in-right")
    div(class="row")
      div(class="col-lg-2 offset-lg-4")
        a(alt=__('Sign Up') class="ds-link-small" href=`/${language}/sign-up`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= __('Sign Up')
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")
      div(class="col-lg-2")
        a(alt=__('Forgot password') class="ds-link-small" href=`/${language}/forgot-password`)
          div(class="_ds-link body")
            div(class="_ds-link-small title")= __('Forgot password')
          div(class="_ds-link action-icon")
            i(class="bi bi-chevron-right")